<div class="conteiner">

  <form action="">

    <mat-form-field color="primary" appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput autocomplete="off">
    </mat-form-field>

    <mat-form-field color="primary" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password">
    </mat-form-field>

    <button mat-button color="primary">Iniciar Sesión</button>

    <label>Eres nuevo en la compañía?</label>

    <a href="/registracion" >Registrarme</a>

  </form>

</div>
