
.conteiner{
  height: 100vh;
  background-color: rgb(165, 165, 165);
  padding-top: 150px;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0;
  border: 1px solid white;
  box-shadow: rgb(70, 35, 64) 2px 2px 8px;
}

form button{
  color:white;
  border: 1px solid white;
  margin-top: 15px;
}

form label{
  padding-top: 22px;
  font-size: small;
}

form a{
  text-decoration: none;
}

form a:hover{
  font-weight: bold;
}
