<div class="conteiner">

  <div class="conteiner-msg">

      <mat-tab-group mat-align-tabs="center">

        <mat-tab label="Recibidos">
          <div class="conteiner-msg-detail">
            <app-recibidos></app-recibidos>
          </div>
        </mat-tab>

        <mat-tab label="Enviados">
          <div class="conteiner-msg-detail">
            <app-enviados></app-enviados>
          </div>
        </mat-tab>

        <mat-tab label="Nuevo Mensaje">
          <div class="conteiner-msg-detail">
            <app-nuevo></app-nuevo>
          </div>
        </mat-tab>

      </mat-tab-group>

  </div>

</div>

